*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
   
}

/*   Nav Bar   */

.Nav-Bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 111, 7);
    color: rgb(231, 227, 227)
}
.left-Navbar{
  padding: 10px 70px;
  font-size: 25px;

}
.right-Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 60px;
    list-style: none;
    gap: 20px;
    font-size: 25px;
}

/* Side bar */

.Sidebar-section{
    width: 300px;
    height: 45rem;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 54, 155);
    color: rgb(199, 182, 182);
}
.Content ul{
    list-style: none;
    font-size: 25px;
}
.Content ul li{
    padding: 10px;
    
    
}

.collection-section{
    display: flex;
    
}

/*  Login Page  */

.login-Auth{
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 8px 6px 20px 6px gray;
}

.Form label{
    font-size: 25px;
    padding-right: 100%;

}
.Form input{
   height: 2.5rem;
   width: 20rem;

    
}
.btnSubmit{
    background-color: rgb(19, 161, 6);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 2px 1px 1px 1px;
    
    
}

.Firm{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 15px;


}
.tableForm{
    border: 2px solid red;
    width: 100%;
    max-width: 50%;
    padding: 20px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}
.tableForm label{
    font-size: 20px;
   width: 100%;
   max-width: 80%;
    
}
.tableForm input{
    width: 100%;
    max-width: 80%;
    height: 2.4rem;
    
}

/*category Input*/
.checkInp {
    width: 100%;
    max-width: 80%;
    display: flex;
}

.checkInp label {
    width: 30%;
}

.inputsContainer {
    width: 100%;
    display: flex;
}

.checkboxContainer {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxContainer label {
    width: 100%;
}

.checkboxContainer input {
    margin-left: -120px;
}

.checkboxContainer label {
    font-size: small;
}

.regBoxContainer label {
    font-size: small;
}


/*Product-table*/

.product-table{
width:80vw;
margin-top: 50px;
border-collapse: collapse;

}
.product-table th,
.product-table td{
    border: 1px solid rgb(178, 173, 173);
    padding: 8px;
}
.product-table thead{
    text-align: left;
    background-color: gray;
}

/* NOT Found */

.error-Page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 25px;

}
